name: Sign Container

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
        description: Full image reference without tag, e.g. ghcr.io/my-org/my-app
      digest:
        required: true
        type: string
        description: Image digest (sha256:...)

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write

    steps:
      - name: Install cosign
        uses: sigstore/cosign-installer@v3.5.0
        with:
          cosign-release: 'v2.2.4'

      - name: Sign the published Docker image
        run: cosign sign --yes ${{ inputs.image }}@${{ inputs.digest }}
